<header class="banner">    
    <a href="/" class="logo_style"><img src="/images/Original+logo+low+resolution.png" alt="Logo">Turtle<br>Shelter</a> 
    <div class="banner-buttons">
        <form action="/employee_home" method="GET" style="display: inline;">
            <button type="submit" class="btn">Employee Home</button>
        </form>
        <div class="dropdown">
            <button class="btn dropdown-btn">Manage <span class="arrow">&#x276F;</span></button>
            <div class="dropdown-menu">
                <a href="/manage_employees">Manage Admins</a>
                <a href="/manage_volunteers">Manage Volunteers</a>
                <a href="/manage_events">Manage Events</a>
                <a href="/report_event">Report Events</a>
            </div>
        </div>
        <form action="/logout" method="POST" style="display: inline;">
            <button type="submit" class="btn">Logout</button>
        </form>
    </div>
</header>