
<header>
    <a href="/" class="logo_style"><img src="/images/Original+logo+low+resolution.png" alt="Logo">Turtle<br>Shelter</a> 
    <nav>
        <a href="/jens_story">Jen's Story</a>
        <a href="/sponsors">Sponsors</a>
        <a href="/about">About</a>
        <a href="/schedule_event">Schedule an Event</a>
        <a href="/volunteer">Volunteer</a>
        <a href="/login">Login</a>
    </nav>
</header>

