<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="/1507115.png" type="image/png">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/adminHeader.css">
    <title>Turtle Shelter Project</title>
    <style>
        /* General Styles */
        body {
            margin: 0;
            font-family: Futura, sans-serif;
            background-color: #f5f5f5;
        }

        /* Main Dashboard Section */
        .dashboard {
            padding: 20px;
            text-align: center;
            height: 90vh;
            /* Use most of the vertical height of the viewport */
            width: 90vw;
            /* Use most of the horizontal width of the viewport */
        }

        .dashboard h2 {
            color: #004d40;
            font-size: 28px;
            margin-bottom: 20px;
        }


        iframe {
            width: 100%;
            height: 100%;
            border: none;
            /* Removes border for a clean look */
            border-radius: 8px;
            /* Matches the container's border radius */
        }

        /* Main Content */
        .tableau-container {
            display: grid;
            place-items: center;
            /* Centers the child element both horizontally and vertically */
            height: 100vh;
        }

        .tableauPlaceholder {
            width: 70%;
            /* Or any width you want */
        }
    </style>
</head>

    <!-- Header navigation -->
    <%- include('partials/adminHeader') %>
<body>




        <!-- Main Content -->

        <div class="tableau-container">
            <div class="tableauPlaceholder" id="viz1733361520910">
                <object class="tableauViz" style="width: 100%; height: 850px;">
                    <param name="host_url" value="https://public.tableau.com/" />
                    <param name="embed_code_version" value="3" />
                    <param name="site_root" value="" />
                    <param name="name" value="INTEX_DASHBOARD_17333563512380/Dashboard1" />
                    <param name="tabs" value="no" />
                    <param name="toolbar" value="no" />
                    <param name="display_static_image" value="no" />
                    <param name="display_spinner" value="no" />
                    <param name="display_overlay" value="no" />
                    <param name="display_count" value="no" />
                    <param name="language" value="en-US" />
                </object>
            </div>
        </div>

        <script type="text/javascript" src="https://public.tableau.com/javascripts/api/viz_v1.js"></script>
</body>

</html>