.arrow {
    display: inline-block;
    transform: rotate(90deg);
    /* Point it down */
    margin-left: 5px;
    font-size: 12px;
    /* Adjust size */
    transition: transform 0.3s;
}

.dropdown:hover .arrow {
    transform: rotate(270deg);
    /* Point it up */
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    right: 0;
    /* Align dropdown to the right */
}

.dropdown-menu a {
    color: #004d40;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
    color: #004d40;
}

/* Show Dropdown Menu on Hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Banner Section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d40;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.banner .title h1 {
    margin: 0;
    font-size: 24px;
    color: white;
    text-align: left;
}

/* Banner Buttons */
.banner-buttons {
    display: flex;
    gap: 10px;
}

/* general Button Styling */
.banner .btn {
    background-color: #66bb6a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner .btn:hover {
    background-color: #004d40;
}